@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import 'dashboard.css';
@import 'login.css';

.mt2 {
    margin-top: 2rem;
}

.chart {
    height: 150px;
    /* Defina a altura que você deseja */
}

.mb2 {
    margin-bottom: 2rem;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F1F3F0;
    color: #4a4a4a;
}

.block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    max-width: 1200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    object-fit: cover;
    min-height: 100%;
}

.logo {
    min-height: auto;
    margin: 2rem 0;
    object-fit: contain;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #66A404;
    padding: 1rem;
    text-align: center;
}

.description {
    font-size: 1.125rem;
    margin-bottom: 20px;
    color: #5e5f66;
}

.btn-custom {
    background-color: #275902;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #66A404;
    color: #fff;
}

.btn-second {
    background-color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    color: #66A404;
    border-radius: 50px;
    border: 2px solid #66A404;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.btn-second:hover {
    background-color: #66A404;
    color: #fff;
}


.box-access {
    max-width: 800px;
}

.cta-part {
    padding: 1rem 0;
    gap: 1rem;
}

.nav-bottom {
    position: fixed;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 8px 25px;
    border-radius: 50px;
    background-color: #98d98c;
    z-index: 9999;
    bottom: 1%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.font-12px {
    font-size: 12px;
}

.absolute-center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}