{% extends "layout.html" %} {% block title %}Sistema - Broto Fácil{% endblock %} {%
block content %}
<div class="container box-access">
  <div class="row">
    <div class="col">
      <img
        src="{{ url_for('static', filename='broto.jpg') }}"
        alt="Imagem background"
        class="img-fluid"
      />
    </div>
    <div class="col cta-part">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Logo"
        class="logo"
      />
      <h1 class="title">Sistema de Monitoramento Broto Fácil</h1>
      <p class="description">Veja a temperatura e umidade de sua planta.</p>
      <a class="btn btn-custom" href="{{ url_for('auth.login') }}"
        >Acessar Dashboard</a
      >
    </div>
  </div>
</div>
{% endblock %}
