<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoramento</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container box-access">
      <div class="row">
        <div class="col">
          <img
            src="{{ url_for('static', filename='broto.jpg') }}"
            alt="Imagem background"
            class="img-fluid"
          />
        </div>
        <div class="col cta-part">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="Logo"
            class="logo"
          />
          <h1 class="title">Sistema de Monitoramento Broto Fácil</h1>
          <p class="description">Veja a temperatura e umidade de sua planta.</p>
          <a class="btn btn-custom" href="{{ url_for('login') }}"
            >Acessar Dashboard</a
          >
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
